.places h1 {
    font-size: 30px;
    margin-bottom: 0%;
    padding-left: 22px;
    width: 100%;
}
.places {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
article h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.price_by_night {
    font-size: 30px;
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    display: flex;
    line-height: 60px;
}
.information {
    height: 80px;
    width: 100%;
    border-bottom: #DDDDDD 1px solid;
    border-top: #DDDDDD 1px solid;
    display: flex;
     
}
.max_guest {
    width: 100px;
    display: block;
    text-align: center;
}